body {
    width: 770px;
    padding: 0 15px;
}
.coluna-200 {
    width: 200px;
}
.coluna-400 {
    width: 400px;
}
.nome-click {
    cursor: pointer;
    text-decoration: underline;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}